.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }
    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;
    padding: var(--spacing-sm) 0;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }
    @media (width<= $breakpoint-md) {
        display: block;
        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__media {
    aspect-ratio: 600/490;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.lightText {
    font-weight: 300;
}

.tag {
    font-weight: 300;
    text-transform: uppercase;
    font-size: #{typo(18px)};
}
