{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero_chien&chat.jpg" alt="image chat et chien" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="premierslabo section">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratiores
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem01.png" alt="Laboratoire Web 3 semaine 1 - Grid ou Flexbox" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>
                        <span>Exercice de début de session qui nous aide à choisir entre utiliser un</span>
                        flexbox ou un grid pour une belle disposition de la section à faire.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" target="_blank" href="https://gduprasschaydleu.dectim.ca/cours/cw3/sem01/">
                        Voir le laboratoire
                        <svg class="icon icon--sm">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem02.png" alt="Laboratoire Web 3 semaine 2 - TimTools" />
                </div>
                <div class="card__content">
                    <h3>Sem 02 - TimTools</h3>
                    <p>
                        <span>Laboratoire d'introduction pour utiliser le</span>
                        stack TimTools. Compréhension de la structure des dossiers.
                    </p>
                    <p class="tag">SCSS</p>
                    <a class="button" target="_blank" href="https://gduprasschaydleu.dectim.ca/cours/cw3/sem02/exercice02">
                        Voir le laboratoire
                        <svg class="icon icon--sm">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem03.png" alt="Laboratoire Web 3 semaine 3 - Portfolio Louisa Joy" />
                </div>
                <div class="card__content">
                    <h3>Sem 03 - Portfolio Louisa Joy</h3>
                    <p>
                        <span>Laboratoire d'utilisation du stack TimTools.</span>
                        Pour commencer à utiliser des varibles en SCSS.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="button" target="_blank" href="https://gduprasschaydleu.dectim.ca/cours/cw3/sem03/">
                        Voir le laboratoire
                        <svg class="icon icon--sm">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem04.png" alt="Laboratoire Web 3 semaine 4 - Icônes et Classes en JavaScript" />
                </div>
                <div class="card__content">
                    <h3>Sem 04 - Icônes et classes JS</h3>
                    <p>
                        <span>Laboratoire qu'on a appris à utiliser des icônes</span>
                        avec TimTools et les classes en JavScript.
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a class="button" target="_blank" href="https://gduprasschaydleu.dectim.ca/cours/cw3/sem04/">
                        Voir le laboratoire
                        <svg class="icon icon--sm">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="laboReactif section">
    <div class="wrapper swiper js-swiper">
        <h2>Mes laboratoires réactifs</h2>

        <div class="cards swiper-wrapper">
            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/labo_sem07.png" alt="Laboratoire Web 3 semaine 7 - Réactif et JavaScript" />
                </div>
                <div class="card__content">
                    <h3>Sem 07 - site réactif</h3>
                    <p>
                        <span>Ce laboratoire a pour but d'introduire aux principes de</span>
                        réactivité d'une page web du desktop jusqu'au mobile.
                    </p>
                    <p class="tag">html + scss</p>
                    <a class="button" target="_blank" href="https://gduprasschaydleu.dectim.ca/cours/cw3/sem07/">
                        Voir le laboratoire
                        <svg class="icon icon--sm">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/labo_sem08.png" alt="Laboratoire Web 3 semaine 8 - Réactif CryptoQc" />
                </div>
                <div class="card__content">
                    <h3>Sem 08 - site réactif</h3>
                    <p>
                        <span>Le laboratoire a pour objectif de continuer et progresser dans</span>
                        votre apprentissage de la création de site web réactif.
                    </p>
                    <p class="tag">scss + javascript</p>
                    <a class="button" target="_blank" href="https://gduprasschaydleu.dectim.ca/cours/cw3/sem08/">
                        Voir le laboratoire
                        <svg class="icon icon--sm">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/labo_sem09.png" alt="Laboratoire Web 3 semaine 9 - Introduction au Swiper Js" />
                </div>
                <div class="card__content">
                    <h3>Sem 09 - site réactif</h3>
                    <p>
                        <span>Ce laboratoire visait à nous familiariser avec une librairie JavaScript (Swiper). Cette</span>
                        librairie génère des carrousels fonctionnels avec de nombreuses options de configuration préprogrammées.
                    </p>
                    <p class="tag">scss + javascript</p>
                    <a class="button" target="_blank" href="https://gduprasschaydleu.dectim.ca/cours/cw3/sem09/">
                        Voir le laboratoire
                        <svg class="icon icon--sm">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
